@using ThesisManagement_Core.DAL.Model
@{

}
@section PageCsses
{
    <style type="text/css">
    </style>
}
@section PageScripts
{
    <script type="text/javascript">
        $(function () {
            $('.block form input[type=file]').addClass('file');
            // Style file input
            $("input[type=file]").filestyle({
                image: "Content/Custom/images/upload.gif",
                imageheight: 30,
                imagewidth: 80,
                width: 250
            });
            // Form select styling
            $("form select.styled").select_skin();

            // File upload
            if ($('#fileupload').length) {
                new AjaxUpload('fileupload', {
                    action: '@Url.Action("UploadFile", "UploadFile")',
                    autoSubmit: true,
                    name: 'uploadFile',
                    responseType: 'json',
                    onSubmit: function (file, ext) {
                        $('.fileupload #uploadmsg').addClass('loading').text('Uploading...');
                        this.disable();
                    },
                    onComplete: function (file, response) {
                        if (response && response.result) {
                            $("#fileupload").parents(".fileupload").children(".file").val(file);
                            $('.fileupload #uploadmsg').removeClass('loading').text("上传论文成功！");
                            $("#fileupload").attr("data-filename", response.filename);
                        } else {
                            $('.fileupload #uploadmsg').removeClass('loading').text("上传论文失败，请重试");
                        }
                        this.enable();
                    }
                });
            }
            if ($('#fileupload1').length) {
                new AjaxUpload('fileupload1', {
                    action: '@Url.Action("UploadFile", "UploadFile")',
                    autoSubmit: true,
                    name: 'uploadFile',
                    responseType: 'json',
                    onSubmit: function (file, ext) {
                        $('.fileupload #uploadmsg1').addClass('loading').text('Uploading...');
                        this.disable();
                    },
                    onComplete: function (file, response) {
                        if (response && response.result) {
                            $("#fileupload1").parents(".fileupload").children(".file").val(file);
                            $('.fileupload #uploadmsg1').removeClass('loading').text("上传查重报告成功！");
                            $("#fileupload1").attr("data-filename", response.filename);
                        } else {
                            $('.fileupload #uploadmsg1').removeClass('loading').text("上传查重报告失败，请重试");
                        }
                        this.enable();
                    }
                });
            }
            $("input.file").prop("readonly", true);
            $("#btnSumbit").click(function () {
                $(".error").text("");
                var flag = false;
                if (verify()) {
                    $("#btnSumbit").prop("disabled", true);
                    if (!flag) {
                        flag = true;
                        var postData = {
                            txtUserName: $.trim($("#txtUserName").val()),
                            selSpec: $("#selSpec").val(),
                            txtTicketNumber: $.trim($("#txtTicketNumber").val()),
                            txtPhone: $.trim($("#txtPhone").val()),
                            fileName: $("#fileupload").attr("data-filename"),
                            fileName1: $("#fileupload1").attr("data-filename")
                        };
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Save")",
                            data: postData,
                            success: function (data) {
                                if (data && data.result) {
                                    alert("上报成功");
                                    $("#fileupload, #fileupload1").attr("data-filename", "");
                                } else {
                                    if (data && data.msg.length > 0) {
                                        alert(data.msg);
                                    } else {
                                        alert("上报失败");
                                    }
                                }
                                
                                $("#btnSumbit").prop("disabled", false);
                                flag = false;
                            }
                        })
                    }
                }
            })

            $("#btnReset").click(function () {
                location.reload();
            })
        })

        function verify() {
            var flag = true;
            if ($.trim($("#txtUserName").val()).length <= 0) {
                $("#txtUserName").siblings(".error").text("请输入正确的姓名");
                flag = false;
            }
            var regex = /^\d{12}$/;
            if ($.trim($("#txtTicketNumber").val()).length <= 0 || !regex.test($.trim($("#txtTicketNumber").val()))) {
                $("#txtTicketNumber").siblings(".error").text("请输入正确的准考证号");
                flag = false;
            }
            var regex = /^1[34578]\d{9}$/;
            if ($.trim($("#txtPhone").val()).length <= 0 || !regex.test($.trim($("#txtPhone").val()))) {
                $("#txtPhone").siblings(".error").text("请输入正确的手机号");
                flag = false;
            }
            if ($("#selSpec").val() <= 0) {
                $("#selSpec").parents("p").find(".error").text("请选择专业");
                flag = false;
            }
            if ($("#fileupload").attr("data-filename") == "") {
                $("#uploadmsg").text("请上传论文");
                flag = false;
            }
            if ($("#fileupload1").attr("data-filename") == "") {
                $("#uploadmsg1").text("请上传查重报告");
                flag = false;
            }
            return flag;
        }
    </script>
}

<div class="block" id="hld">

    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>大学毕业生论文上交</h2>
    </div>		<!-- .block_head ends -->

    <div class="block_content" style="width: 45%; margin: auto;">

        <form action="" method="post">
            <p>
                <label>姓名:</label><br />
                <input id="txtUserName" type="text" class="text small" />
                <span class="note error"></span>
            </p>
            <p>
                <label>专业:</label> <br />
                <span style="float: left;">
                    <select id="selSpec" class="styled">
                        <option value="0">---请选择---</option>
                        @foreach (Specialty item in ViewBag.Specialty)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </span>
                <span class="note error"></span>
            </p>

            <p>
                <label>准考证号:</label><br />
                <input id="txtTicketNumber" type="text" class="text small" />
                <span class="note error"></span>
            </p>

            <p>
                <label>手机号:</label><br />
                <input id="txtPhone" type="text" class="text small" />
                <span class="note error"></span>
            </p>

            <p class="fileupload">
                <label>论文:</label><br />
                <input type="file" id="fileupload" data-filename="" />
                <span class="note error" id="uploadmsg"></span>
            </p>

            <p class="fileupload">
                <label>查重报告:</label><br />
                <input type="file" id="fileupload1" data-filename="" />
                <span class="note error" id="uploadmsg1"></span>
            </p>

            <hr />

            <p style="text-align: center;">
                <input id="btnSumbit" type="button" class="submit small" value="提交" />
                <input id="btnReset" type="button" class="submit small" value="重置" />
            </p>
        </form>


    </div>		<!-- .block_content ends -->

    <div class="bendl"></div>
    <div class="bendr"></div>

</div>		<!-- .block ends -->